.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;/*454px 148px 450px*/;
  grid-template-rows: 105px;
  align-items: center;      
  max-width: 100%;  
  margin: 92px 24px 96px;  
}

.header__links-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  margin-top: 4px;
  list-style: circle;  
}

.header__links-list-item {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;     
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid;  
  text-decoration: none;
  /*letter-spacing: 0.18px;*//*в макете в ссылках "посмотреть лоты" и "об аукционе"
  указан letter-spacing 0.18, и с ним у меня действительно было больше сходства с макетом*/
}

.header__links-list-item .header__link_active {
  border-bottom: none;
}

.header__logo {  
  display: flex;
  justify-self: center;    
  height: 100%; 
}

.header__logo-image {
  width: 148px /*148px*/;
  height: 105px /*105px*/;
}

.header__address {
  display: flex;  
  justify-content: end;
  padding-right: 62px;
}

.contacts {  
  display: flex;
  flex-direction: column;
  flex-grow: 0;  
  align-items: start;
  /*margin-right: 60px;*/
}

.contacts-link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%/*24.3px*/;
  text-underline-offset: 4px;/* 135% */
  /*letter-spacing: 0.18px;*//*в макете в ссылках "телефон" и "эл почта"
  указан letter-spacing 0.18. Скринщоты прилагаю
  я сам очень намучался с этими letter-spacing. Они в макете буквально через слово и разные.
  Около 25% всего времени верстки я потратил на эти letter-spacing  */  
}

.address {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%/*24.3px*/;  
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 0px;  
}

.cover { 
  position: relative;
  display:flex;
  flex-direction: column;
  width: 1100px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  background-color: rgb(0 0 0 / 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1100px;
  padding: 145px 50px 0 50px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  text-transform: uppercase;
}

.cover__title_aligned-text_left{
  display: block;
  padding-top: 20px;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-align: left;  
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__title_aligned-text_center {
  display: block;
  padding-top: 20px;
  line-height: 100%; /* 100px */
  letter-spacing: 30px;
  text-align: center;
}

.cover__title_aligned-text_right {
  display: block;
  padding-top: 20px;
  line-height: 100%; /* 100px */
  letter-spacing: 60px;
  text-align: right;
}

.letter-spacing {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {    
  z-index: 1;
  display: flex;  
  justify-content: space-between;   
  padding: 135px 50px 51px 78px;
}

.cover__description-text {
  padding: 12px 0px 11px 0px;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18px; 
}

/*.cover__description-text_v {
  display: inline-block;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  В макете у буквы "В" указан letter-spacing 24.2px,
  и с ним действительно надпись сходится с макетом 1в1.
  Я везде проверял letter-spacing из макета на визульную надобность и соответствие.
  Без них работа была бы сделана сильно скорее.
  }*/

.bet-button {  
  border: 1px solid #FFF;
  padding: 12px 32px 11px 31px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;  
}

.lots {
  position: relative;
  display: flex;  
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;/*без этого параметра у меня не работает перенос карточек при сжатии страницы*/
  max-width: 1100px;
  margin-top: 179px;
}

.lots__heading {
  padding-left: 64px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex; 
  flex-wrap: wrap; 
  flex-grow: 1;
  gap: 25px;
  padding: 27px 24px 0 24px;  
  /*position: relative;*/
  list-style: none;
}

.lots__card-list-item { 
  display: flex;  
  flex: 1 0 334px;  
  min-height: 563px;
  /*position: relative;*/  
}

.card-link {
  display: flex;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover; 
}

.card__title {
  z-index: 1;
  display: block;
  padding: 51px 40px 0 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;  
}

.card__text {
  z-index: 1;
  display: block;
  padding: 0 40px 48px 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
  text-align: left;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding: 30px 0 0 64px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 100%;  
  justify-items: center;
  gap: 25px;
  box-sizing: border-box;
  margin-top: 146px;
  padding: 35px 24px 0;  
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px; 
}

.about__title {  
  display: flex;
  margin-top: 101px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;    
}

.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;  
}

.about__text-p {
  margin-right: 5px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  /*letter-spacing: 0.2px;*/
}

/*.about__text_paf {
  letter-spacing: 0;  
}

.about__text_nashi {
  letter-spacing: 0.4px;
}

.about__text_bili {
  letter-spacing: -0.1px;  
}

.about__text_dnevnik {
  letter-spacing: 0.1px;
}

.about__text_oni {
  letter-spacing: 0.8px;
}

.about__text_neud {
  letter-spacing: 0.2px;
}

.about__text_pred {
  letter-spacing: 0.1px;
}
  Как и во всех предыдущих случаях с letter-spacing,
  брал из макета. Скрины и ссылку на макет прилагаю.
  Визуально, без использования letter-spacing из макета
  расхождения с оригиналом становятся сильно заметны
*/

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  grid-template-rows: 98px;
  align-items: start;
  margin: 180px 50px 88px;  
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  list-style: none;  
}

.footer__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer__menu-list-item .footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}